<div class="outer-container">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <h1 class="main-font paragraph-heading" data-ng-bind="vm.selectedCategory + ' Gallery'"></h1>
                <button type="button"
                        class="btn btn-success"
                        data-ng-click="vm.returnToCategoryPage()">
                  Return to Categories
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6 margin-top-10" data-ng-repeat="galleryImg in vm.imgs">
            <img data-ng-src="{{'../../assets/images/' + galleryImg.src}}" data-ng-click="vm.openImg(galleryImg)" alt="wedding table" class="img-thumbnail gallery-img" width="auto">
        </div>
    </div>
</div>
