<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand show-mobile-only">
        <span data-ng-click="vm.isCollapsed = !vm.isCollapsed" class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <div class="nav-logo-img">
        <img src="../../assets/images/cclogo1white.png" alt="WeddingPot1" class="margin-top-10" width="auto" height="100px">
      </div>
    </div>
    <div class="collapse navbar-collapse center-nav" uib-collapse="vm.isCollapsed " id="bs-example-navbar-collapse-6">

      <ul class="nav navbar-nav">
        <li data-ng-class="{active: vm.isNavItemActive('main.home')}"><a ng-href="/">Home</a></li>
        <li data-ng-class="{active: vm.isNavItemActive('main.services')}"><a ng-href="services">Services</a></li>
        <li data-ng-class="{active: vm.isNavItemActive('main.gallery')}"><a ng-href="gallery">Gallery</a></li>
        <li data-ng-class="{active: vm.isNavItemActive('main.contact')}"><a ng-href="contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right img-link-container">
        <a href="https://www.instagram.com/creativecelebrationsfl/" target="_blank" class="">
          <img src="../../assets/images/instagram-icon-957.png" alt="instagram" width="auto" height="37px">
        </a>
        <a href="https://www.facebook.com/creativecelebrationsfl" target="_blank">
          <img src="../../assets/images/facebook-icon-png-742.png" alt="facebook" width="auto" height="37px">
        </a>
      </ul>
    </div>
  </div>
</nav>
