<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand show-mobile-only">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <div class="nav-logo-img">
        <img src="../../assets/images/cclogo1.png" alt="WeddingPot1" class="margin-top-10" width="auto" height="100px">
      </div>
    </div>
    <div class="collapse navbar-collapse center-nav" id="bs-example-navbar-collapse-6">

      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="/">Home</a></li>
        <li><a ng-href="">Services</a></li>
        <li><a ng-href="#">Gallery</a></li>
        <li><a ng-href="contact">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>
