
.navbar{

  background-color: #64ACAD;
  a{
    color:#0e3030;
  }

  font-family: Lobster;
  font-size: 2em;

  .glyphicon-menu-hamburger{
    margin-top: 25px;
    font-size: 1.25em;
  }

  .navbar-nav{

    margin-top: 25px;

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {

    .nav-logo-img{
      float: none;
      text-align: center;
      img{

        margin-left: -25px;
        
      }
    }

    .img-link-container{
      display: none;
    }

  }

}