#contact-form{

  p{
    font-size: 0.75em;
  }

  .info-item{

    font-size: 0.60em;
  }

  .row{
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom:10px;

  }

  .error{
    margin-bottom: -10px;
  }

}