<div id="contact-form" class="margin-top-25 panel panel-default">
    <div class="panel-body main-body-text-size">
        <div class="row">
            <div class="col-sm-8">
                    <h1>Contact Us</h1>
                    <p>We are here to help you create everlasting memories!  If you are interested in our services,
                        please fill out our contact form and will get back to you as soon as possible.</p>
                <div class="row" data-ng-form name="contactForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="">
                                <input type="text"
                                       name="firstName"
                                       class="form-control"
                                       placeholder="First Name"
                                       data-ng-model="vm.firstName"
                                       aria-describedby="basic-addon2"
                                       required
                                >
                            </div>
                            <div ng-messages="contactForm.firstName.$error" class="input-error" data-ng-show="vm.submitted && contactForm.firstName.$error" role="alert">
                                <div ng-message="required">Please enter a valid name</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Last Name"
                                       data-ng-model="vm.lastName"
                                       aria-describedby="basic-addon2"
                                       name="lastName"
                                       required
                                >
                            </div>
                            <div ng-messages="contactForm.lastName.$error" class="input-error" data-ng-show="vm.submitted && contactForm.firstName.$error" role="alert">
                                <div ng-message="required">Please enter a valid name</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 margin-top-10">
                            <div class="">
                                <input type="email"
                                       class="form-control"
                                       placeholder="Email"
                                       data-ng-model="vm.email"
                                       aria-describedby="basic-addon2"
                                       name="email"
                                       required
                                >
                            </div>
                            <div ng-messages="contactForm.lastName.$error" class="input-error" data-ng-show="vm.submitted && contactForm.firstName.$error" role="alert">
                                <div ng-message="required">Please enter a valid email</div>
                            </div>
                        </div>
                        <div class="col-sm-6 margin-top-10">
                            <div class="">
                                <input type="phone"
                                       class="form-control"
                                       data-ng-model="vm.phone"
                                       placeholder="Phone (optional - Numbers only, no dashes)"
                                       aria-describedby="basic-addon2"
                                       name="phone"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 margin-top-10">
                            <div class="">
                            <textarea class="form-control"
                                      data-ng-model="vm.eventMessage"
                                      placeholder="Event Description"
                                      name="eventMessage"
                                      required
                                      rows="5"></textarea>
                            </div>
                            <div ng-messages="contactForm.eventMessage.$error" class="input-error" data-ng-show="vm.submitted && contactForm.eventMessage.$error" role="alert">
                                <div ng-message="required">Please include a message regarding your event or interest in services</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 margin-top-10">
                        <button type="button"
                                class="btn btn-success"
                                data-ng-click="vm.submitMessage()">
                            Send Information
                        </button>
                    </div>
                </div>
            </div>
            <div class=" col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <h3>Email</h3>
                            <p class="info-item">creativecelebrationsfl@gmail.com</p>
                        </div>
                        <div>
                            <h3>Phone</h3>
                            <p class="info-item">(407) 960-3430</p>
                        </div>
                        <div>
                            <h3>Social Media</h3>
                            <a href="https://www.instagram.com/creativecelebrationsfl/" target="_blank">
                                <img src="../../assets/images/instagram-icon-957.png" alt="instagram" class="" width="auto" height="37px">
                            </a>
                            <a href="https://www.facebook.com/creativecelebrationsfl" target="_blank">
                                <img src="../../assets/images/facebook-icon-png-742.png" alt="facebook" class="" width="auto" height="37px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>