<div id="contact-form" class="margin-top-25 panel panel-default">
    <div class="panel-body main-body-text-size">
        <div class="col-sm-8">
            <h1>Contact Us</h1>
            <p>We are here to help you create everlasting memories!  Please reach out to us
                and will get back to you as soon as possible.</p>
            <div class="input-group col-sm-6">
                <input type="text"
                       class="form-control"
                       placeholder="Full Name"
                       aria-describedby="basic-addon2"
                >
            </div>
            <div class="input-group col-sm-6">
                <input type="text"
                       class="form-control"
                       placeholder="Email"
                       aria-describedby="basic-addon2"
                >
            </div>
        </div>
        <div class=" col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <h3>Email</h3>
                        <p class="info-item">creativecelebrationsfl@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>