<div id="contact-form" class="margin-top-25 panel panel-default">
    <div class="panel-body main-body-text-size">
        <div class="row">
            <div class="col-sm-8">
                    <h1>Contact Us</h1>
                    <p>We are here to help you create everlasting memories!  If you are interested in our services,
                        please fill out our contact form and will get back to you as soon as possible.</p>
                <div class="row" data-ng-form name="contactForm">
                    <div class="col-sm-6">
                        <div class="">
                            <input type="text"
                                   class="form-control"
                                   placeholder="First Name"
                                   data-ng-model="vm.firstName"
                                   aria-describedby="basic-addon2"
                                   required
                            >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Last Name"
                                   data-ng-model="vm.lastName"
                                   aria-describedby="basic-addon2"
                                   required
                            >
                        </div>
                    </div>
                    <div class="col-sm-6 margin-top-10">
                        <div class="">
                            <input type="email"
                                   class="form-control"
                                   placeholder="Email"
                                   data-ng-model="vm.email"
                                   aria-describedby="basic-addon2"
                                   required
                            >
                        </div>
                    </div>
                    <div class="col-sm-6 margin-top-10">
                        <div class="">
                            <input type="phone"
                                   class="form-control"
                                   data-ng-model="vm.phone"
                                   placeholder="Phone (optional)"
                                   aria-describedby="basic-addon2"
                            >
                        </div>
                    </div>
                    <div class="col-sm-12 margin-top-10">
                        <div class="">
                            <textarea class="form-control"
                                      data-ng-model="vm.eventMessage"
                                      placeholder="Event Description"
                                      rows="5"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-4 margin-top-10">
                        <button type="button"
                                class="btn btn-success"
                                data-ng-click="vm.submitMessage()">
                            Send Information
                        </button>
                    </div>
                </div>
            </div>
            <div class=" col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <h3>Email</h3>
                            <p class="info-item">creativecelebrationsfl@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>