.carousel-container{

  width: 100%;
  margin: 0 auto;
  background-color: transparent;

  img{
    margin: 0 auto;
    border-radius: 25px;
    max-height:650px;
  }

  a{
    display:none;
  }

  font-family: Lobster;


  .carousel-caption{
    top: 0;
    bottom: auto;
  }

  .carousel-header {

    font-size: 1.75em;

  }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

      .carousel-header {

        font-size: 3em;

      }

      .carousel-sub-title {

        font-size: 2em;

      }

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

      .carousel-header {

        font-size: 3.5em;
      }

      .carousel-sub-title {

        font-size: 2.5em;

      }

    }

    @media only screen and (min-width : 992px) {

      .carousel-header {

        font-size: 4.5em;

      }

      .carousel-sub-title {

        font-size: 3em;

      }

    }

  .carousel-indicators {
    padding: 5px;
  }



}