#myCarousel {

  width: 100%;
  margin: 0 auto;
  background-color: transparent;

  img{
    margin: 0 auto;
    border-radius: 25px;
    max-height:650px;
  }

  font-family: Lobster;

  .carousel-inner{
    padding: 25px;
  }


}