/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #000000;
$navbar-inverse-bg: white;
$navbar-inverse-border: white;
$navbar-inverse-link-hover-color:#2eb1b1;
$navbar-inverse-link-active-bg : white;
$navbar-inverse-link-hover-bg:white;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import url(https://fonts.googleapis.com/css?family=Lobster);
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


@font-face {
  font-family: 'Lobster', cursive;
}

body{
  background-color: #2eb1b1;
}

.background-main-color {

  background-color: #5BC2A6;

}

.center-div{
  margin-left: auto;
  margin-right: auto;
}


.cursive-bold-main {

  font-family: Shrikhand;
  color: white;

}

.half-circle {
  width: 200px;
  height: 50px;
  border-top-left-radius: 50px 100px;
  border-top-right-radius: 50px 100px;
  border: 5px solid white;
  border-bottom: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-logo-size {

  font-size: 100px;

}

.solid-line {

  border-bottom:5px solid white;
  margin-left: auto;
  margin-right: auto;
  width: 500px;

}

.wrapper {
  border: 1px dashed #ddd;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
}

.margin-top-150{
  margin-top: 150px;
}

#myCarousel {

  width: 75%;
  margin: 0 auto;
  background-color: white;

  img{
    margin: 0 auto;
  }


}


.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
*  Do not remove the comments below. It's the markers used by gulp-inject to inject
*  all your sass files automatically
*/
// injector
// endinjector
