<div>
    <div class="outer-container">
        <uib-carousel class="carousel-container" active="vm.active" interval="vm.carouselInterval">
            <uib-slide ng-repeat="slide in vm.slides" index="$index">
                <img ng-src="{{slide.image}}" alt="WeddingDecorImg" width="auto">
                <div class="carousel-caption">
                    <span class="carousel-header">Creative Celebrations</span><br>
                    <span class="carousel-sub-title">{{slide.subtitle}}</span><br>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>

    <div class="row">
        <div class="center-div" class="main-paragraph-section">
            <h1 class="center-text main-font paragraph-heading">Who We Are</h1>
            <p class="center-text main-font main-body-text-size">
                Creative Celebrations are your premier Central Florida <b>Event Decor Specialists.</b>  Let us help you turn your vision into reality!
                We cater to any celebration using our design expertise to set the perfect mood for your occasion.
            </p>
            <h1 class="center-text main-font paragraph-heading">Services</h1>
            <p class="center-text main-font main-body-text-size">
                We offer a wide range of services from the day of setup of your themed elements to
                full service design and decor of your event.  We also have an inventory of props that we can provide for a
                rental fee.
            </p>
        </div>
    </div>
</div>
