<div>
    <div class="outer-container">
        <uib-carousel class="carousel-container" active="vm.active" interval="vm.carouselInterval">
            <uib-slide ng-repeat="slide in vm.slides" index="$index">
                <img ng-src="{{slide.image}}" alt="WeddingDecorImg" width="auto">
                <div class="carousel-caption">
                    <span class="carousel-header">Creative Celebrations</span><br>
                    <span class="carousel-sub-title">{{slide.subtitle}}</span><br>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>

    <div class="row">
        <div class="center-div" class="main-paragraph-section">
            <h1 class="center-text main-font paragraph-heading">Who We Are</h1>
            <p class="center-text main-font main-body-text-size">
                Creative Celebrations is your premier Central Florida <b>Event Decor Boutique.</b>  Let us turn your vision into reality!
                We cater to any celebration using our design expertise to set the perfect mood for your occasion.
            </p>
            <h1 class="center-text main-font paragraph-heading">Services</h1>
            <p class="center-text main-font main-body-text-size">
                We offer a wide range of services including custom florals, centerpieces, tablescapes & unique decor for any budget.
            </p>
        </div>
    </div>
</div>
