<div>
    <div id="myCarousel" class="row carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../../../../assets/images/CCImg1.jpg" alt="WeddingPot1" width="auto">
                <div class="carousel-caption">
                    <span class="carousel-header">Creative Celebrations</span><br>
                    <span class="carousel-sub-title">Unique Decor for your Unforgettable Celebration</span><br>
                </div>
            </div>

            <div class="item">
                <img src="img_chania2.jpg" alt="Chania" width="460" height="345">
                <div class="carousel-caption">
                </div>
            </div>

            <div class="item">
                <img src="img_flower.jpg" alt="Flower" width="460" height="345">
            </div>

            <div class="item">
                <img src="img_flower2.jpg" alt="Flower" width="460" height="345">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="center-div" style="width: 80%;">
            <h1 class="center-text main-font blue-color">Who We Are</h1>
            <p class="center-text main-font main-body-text-size">
                Creative Celebrations are your premier Central Florida <b>Event Decor Specialists.</b>  Let us help you turn your vision into reality!
                We cater to any celebration using our design expertise to set the perfect mood for your occasion.
            </p>
            <h1 class="center-text main-font blue-color">Services</h1>
            <p class="center-text main-font main-body-text-size">
                We offer a wide range of services from the day of setup of your themed elements to
                full service design and decor of your event.  We also have an inventory of props that we can provide for a
                rental fee.
            </p>
        </div>
    </div>
</div>
