
<div class="outer-container">
    <div class="row">
        <div class="col-sm-5">
            <img src="../../assets/images/eventdecor1.jpg" alt="event decor" class="services-img-container">
        </div>
        <div class="col-sm-7">
            <h1 class="main-font paragraph-heading">Event Decor Design</h1>
            <p class="main-font main-body-text-size">
                Let us help you bring your vision to life.  We offer consulting services to help design your event.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <h1 class="main-font paragraph-heading">Prop Rental</h1>
            <p class="main-font main-body-text-size">
                We have an inventory of props that can be rented.
            </p>
        </div>
        <div class="col-sm-5">
            <img src="../../assets/images/proprental.jpg" alt="event decor" class="services-img-container">
        </div>
    </div>
</div>