
<div class="outer-container">
    <div class="row">
        <div class="col-sm-5">
            <img src="../../assets/images/eventdecor1.jpg" alt="event decor" class="services-img-container img-responsive">
        </div>
        <div class="col-sm-7">
            <h1 class="main-font paragraph-heading">Event Design & Decor</h1>
            <p class="main-font main-body-text-size">
                We can bring your vision to life!  Our services range from day of setup of your themed elements to full-service design & decor.
                Need a venue?  With our expertise of the Central Florida & coastal communities, we can help you find the perfect place for your event! Contact us to schedule a consultation.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <h1 class="main-font paragraph-heading">Rentals</h1>
            <p class="main-font main-body-text-size">
                Various rental properties are available on a first come, first serve basis.  Contact us for more details regarding our premier rental
                inventory.
            </p>
        </div>
        <div class="col-sm-5">
            <img src="../../assets/images/proprental.jpg" alt="event decor" class="services-img-container img-responsive">
        </div>
    </div>
</div>
